body,
#background,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background {
  position: fixed;
  filter: blur(33vmin);
  transform: scale(3);
}

#root {
  position: fixed;
}
