body,
#background,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background {
  position: fixed;
  filter: blur(33vmin);
  transform: scale(3);
  transition: background 1s;
}

#root {
  position: fixed;
  transition: background 1s, opacity 1s;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
  font-size: 2em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
