body,
#background,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background {
  position: fixed;
  filter: blur(33vmin);
  transform: scale(3);
}

#root {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

#rss-link {
  width: 300px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

#masonry-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
